@import "_variables.scss";
@import "typography.scss";



form {
    height: 710px;
    width: 418px;
    position: absolute;
    top: calc(50% - 355px);
    left: calc(50% - 209px);
    background: $white;
    border: 1px solid #DFE2E4;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    &.log-in {
        height: 571px;
        width: 418px;
        top: calc(50% - 285px);
    }
    h3, h4 {
        margin: 0;
    }
    .container-logo {
        height: 81px;
        width: 418px;
        left: 511px;
        top: 147px;
        background: rgba(233, 242, 255, 0.5);
        background-position: 0px 0px;
        background-repeat: no-repeat;
        border-radius: 10px;
        .logo {
            padding: 16px 48px 8px 43px;
            height: 56px;
            span {
                display: inline;
            }
            .logo-first-part {
                color: $black;
                vertical-align: -webkit-baseline-middle;
                font-weight: bold;
            }
            .logo-second-part {
                color: $primary-color;
                vertical-align: -webkit-baseline-middle;
                font-weight: bold;
            }
        }
    }
    .container {
        padding: 38px 48px 46px 43px;
        span {
            margin-top: 19px;
        }
        input {
            margin-top: 4px;
            height: 48px;
            width: 327px;
            left: 0px;
            top: 24px;
            padding: 12px;
            background: $white;
            border: 1px solid #BFC4CA;
            box-sizing: border-box;
            border-radius: 4px;
            &[type=checkbox] {
                height: 24px;
                width: 24px;
                left: 0px;
                top: 0px;
                border-radius: 4px;
                background: #3884F2;
                border-radius: 4px;
                margin: 0px;
                float: left;
            }
            label {
                float: left;
            }
        }
        button {
            border-color: $primary-color;
            margin-top: 35px;
            width: 327px;
            height: 48px;
            background: $primary-color;
            border-radius: 4px;
            color: $white;
        }
        a {
            margin-top: 53px;
            display: block;
            width: 200px;
            height: 24px;
            position: relative;
            left: calc(50% - 100px);
            text-align: center;
        }
    }
    span, input, button {
        display: block;
    }
}

